.zan[data-v-5126c706] {
    display: block;
    width: calc(100% - 60px);
    margin: 20px auto
}

.author[data-v-5126c706] {
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    color: #bbb
}

.author.color-red[data-v-5126c706] {
    color: red
}

.beian[data-v-5126c706] {
    text-align: center;
    font-size: 12px;
    padding: 20px 0
}

.beian a[data-v-5126c706] {
    color: #999
}

.color-red {
    color: red
}

.van-dialog__content {
    padding: 10px
}

.has-border {
    border: 1px solid #eee
}

.page-calc[data-v-41b16018] {
    padding-top: 50px
}

.checkbox-group[data-v-41b16018] {
    padding: 10px
}

.checkbox[data-v-41b16018] {
    display: inline-flex;
    width: 33%;
    margin-top: 10px
}

.beginCalc[data-v-41b16018] {
    margin-top: 20px
}

.result-cell .van-cell__value[data-v-41b16018] {
    display: flex
}

.result-title[data-v-41b16018] {
    flex: none;
    width: 80px;
    font-weight: 700;
    color: #00c229
}

.result-title.red[data-v-41b16018] {
    color: red
}

.result-title.green[data-v-41b16018] {
    color: #00c229
}

.errorText[data-v-41b16018] {
    font-size: 14px;
    margin: 20px;
    color: red
}

.calcString[data-v-41b16018] {
    margin: 20px;
    padding: 10px;
    border: 1px solid #999
}

body {
    padding: 0;
    margin: 0;
    background: #f8f8f8
}

#nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 44px;
    background-color: #fff;
    z-index: 100;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ddd
}

#nav a {
    font-weight: 700;
    color: #2c3e50;
    padding: 0 20px
}

#nav a.router-link-exact-active {
    color: #42b983
}

.flex-center,.flex-space-between {
    display: flex;
    align-items: center
}

.flex-space-between {
    justify-content: space-between
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.empty-bottom {
    height: 80px
}

.block-title {
    background-color: #e8f5ff;
    border: 1px solid #bfe4ff;
    padding: 8px 16px;
    color: #1989fa;
    font-size: 14px;
    line-height: 16px;
    margin: 30px 0 10px
}

.tips-info {
    font-size: 12px;
    color: #999;
    margin: 5px 20px
}

.tips-info.color-red {
    color: red
}

.highlight {
    color: #f0f
}

.highlight2 {
    color: red
}
