.inputName[data-v-58858217] {
    display: inline-block;
    width: 100px;
    font-size: 14px
}

.empty-center[data-v-58858217] {
    width: 100px
}

.row2[data-v-58858217] {
    margin: 20px 10px
}

.inputName-line[data-v-58858217] {
    margin-top: 10px;
    padding: 0 20px
}

.inputName-line .inputName-title[data-v-58858217] {
    font-size: 14px;
    margin-right: 10px;
    color: #999
}

.scores[data-v-717871ea] .van-cell__title {
    flex: none;
    width: 100px
}

.scores[data-v-717871ea] .inputs {
    flex: 1
}

.scores[data-v-717871ea] .inputScore {
    flex: 0.5;
    width: 50%;
    font-size: 14px
}

.scores[data-v-717871ea] .inputScore+.inputScore {
    margin-left: 10px
}

.scores[data-v-717871ea] .inputScore.has-err {
    color: red
}

.scores[data-v-717871ea] .groupTitle .inputScore {
    text-align: center
}

.bankHistoryContainer[data-v-12376a9c] {
    width: 100%;
    overflow-x: scroll;
    padding: 15px;
    box-sizing: border-box
}

.bankHistoryContainer .wrapper[data-v-12376a9c] {
    display: inline-block;
    border: 1px solid #ccc
}

.bankHistoryContainer .wrapper .day-header[data-v-12376a9c] {
    display: flex
}

.bankHistoryContainer .wrapper .day-header .day[data-v-12376a9c],.bankHistoryContainer .wrapper .day-header .radio[data-v-12376a9c],.bankHistoryContainer .wrapper .day-header .week[data-v-12376a9c] {
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box
}

.bankHistoryContainer .wrapper .day-header .title[data-v-12376a9c] {
    box-sizing: border-box;
    width: 100px;
    padding: 0 5px;
    height: 30px;
    display: flex;
    align-items: center
}

.bankHistoryContainer .wrapper .day-header .week[data-v-12376a9c] {
    width: 80px
}

.add-btn[data-v-ac2df036] {
    margin: 15px
}

.empty-land-cell[data-v-ac2df036] .van-cell__title {
    flex: none;
    width: 100px
}

.empty-land-cell[data-v-ac2df036] .van-cell__value {
    text-align: left
}

.empty-land-cell[data-v-ac2df036] .delete {
    line-height: 24px
}

.tips-button[data-v-ac2df036] {
    color: #999;
    font-size: 12px
}

.add-btn[data-v-35faeefc] {
    margin: 15px 0 15px 15px
}

.empty-land-cell[data-v-35faeefc] .van-cell__title {
    flex: none;
    width: 100px
}

.empty-land-cell[data-v-35faeefc] .van-cell__value {
    text-align: left
}

.empty-land-cell[data-v-35faeefc] .delete {
    line-height: 24px
}

.tips-button[data-v-35faeefc] {
    color: #999;
    font-size: 12px
}

.scoreResultContainer[data-v-e9eed4c6] {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 10px 0
}

.scoreResultContainer .names[data-v-e9eed4c6] {
    display: inline-block;
    flex: none;
    box-shadow: 5px 0 5px rgba(0,0,0,.15);
    z-index: 2
}

.scoreResultContainer .wrapper[data-v-e9eed4c6] {
    overflow-x: scroll;
    display: inline-flex;
    border: 1px solid #ccc;
    z-index: 1;
    margin: 0 10px
}

.scoreResultContainer .dayCol[data-v-e9eed4c6] {
    white-space: nowrap;
    font-size: 14px;
    line-height: 24px
}

.scoreResultContainer .score[data-v-e9eed4c6] {
    padding: 2px 10px
}

.resultText[data-v-e9eed4c6],.scoreResultContainer .round[data-v-e9eed4c6] {
    text-align: center;
    background-color: #07c160
}

.resultText[data-v-e9eed4c6] {
    margin-top: 20px;
    padding: 20px 0;
    color: #fff
}

.warning[data-v-e9eed4c6] {
    background-color: red;
    padding: 8px 16px;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px
}

.lab-function[data-v-e9eed4c6] {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ff976a
}

.right-icon[data-v-e9eed4c6] {
    display: flex;
    align-items: center
}

.right-icon .quick-icon[data-v-e9eed4c6] {
    font-size: 12px;
    color: #07c160;
    border: 1px solid #07c160;
    border-radius: 2px;
    line-height: 1;
    padding: 2px;
    margin-right: 16px
}

.popup-title-style[data-v-e9eed4c6] {
    width: 70px;
    padding-right: 10px;
    flex: none
}

.popup-value-style[data-v-e9eed4c6] {
    text-align: left
}

.buy-block[data-v-47c9975d] {
    padding-top: 10px;
    margin: 10px 10px 0;
    line-height: 1.5;
    font-size: 12px;
    border: 1px solid #ddd;
    color: #666;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden
}

.buy-block .buy-tips[data-v-47c9975d] {
    padding: 0 10px
}

.buy-block .block-item-container[data-v-47c9975d] {
    margin: 10px;
    border: 2px solid red;
    color: red;
    padding: 10px;
    font-size: 16px;
    font-weight: 700
}

.buy-block .block-item-container.status-type-1[data-v-47c9975d] {
    border-color: #07c160;
    color: #07c160
}

.buy-block .subValue[data-v-47c9975d] {
    color: #ccc;
    font-weight: 400;
    font-size: 12px;
    margin-left: 10px
}

.groupResult[data-v-170e9796] .van-tabs__nav {
    padding-right: 44px
}

.groupResult .groupList[data-v-170e9796] {
    padding: 10px 20px
}

.land-cell[data-v-170e9796] {
    display: flex;
    font-size: 14px;
    padding: 5px 0
}

.land-cell.gulp[data-v-170e9796] {
    border-top: 1px solid #bbb
}

.land-cell .left[data-v-170e9796] {
    width: 100px;
    flex: none
}

.green-color[data-v-170e9796] {
    color: #07c160
}

.page-war[data-v-04e51e8a] {
    padding-top: 50px
}

.help-info[data-v-04e51e8a] {
    padding: 10px;
    margin: 0 10px;
    line-height: 1.5;
    font-size: 12px;
    border: 1px solid #ddd;
    color: #666;
    border-radius: 4px;
    background-color: #fff
}

.help-info h4[data-v-04e51e8a] {
    padding: 0;
    margin: 0 0 5px 0;
    text-align: center;
    color: #333
}

.help-info ul[data-v-04e51e8a] {
    padding-left: 20px;
    list-style: decimal outside
}

.help-info ul li[data-v-04e51e8a] {
    margin-top: 5px
}

.resultText[data-v-04e51e8a] {
    color: red;
    text-align: center;
    margin-top: 10px;
    white-space: pre
}

.resultText.success[data-v-04e51e8a] {
    color: #07c160
}

.buttons-bottom .copyMethod+.copyMethod[data-v-04e51e8a] {
    margin-left: 5px
}
